# OS
.DS_STORE
*.swp
*~
[Dd]esktop.ini
Thumbs.db

# IDE
.idea
**/*.iml
/target/
**/jsconfig.json
.settings
.project
.classpath

# Build
npm-debug.log
npm-debug.log*
**/build/
**/lib
**/dist

# Dependencies
**/node_modules

# Development
/temp
*.vsix
**/server/*.jar
/server/legend_extension_pom*.xml

# Test
**/.vscode-test/

# Yarn
# See https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/constraints.pro
.pnp.*
