# Copyright 2022 Goldman Sachs
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Build CI

on: [push, pull_request]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    
    steps:
      - name: Configure git
        run: |
          git config --global committer.email "infra@finos.org"
          git config --global committer.name "FINOS Admin"
          git config --global author.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git config --global author.name "${GITHUB_ACTOR}"

      - name: Checkout code
        uses: actions/checkout@v4.1.0

      - name: Setup Node
        uses: actions/setup-node@v3.8.1
        with:
          node-version: 16

      - name: Install dependencies
        run: |
          npm install
          npm install -g @vscode/vsce

      - name: Package
        run: |
          tsc
          vsce package -o legend-engine-ide-client-vscode-0.0.1.vsix
          mkdir artifacts
          cp legend-engine-ide-client-vscode-0.0.1.vsix artifacts/legend-engine-ide-client-vscode-0.0.1.vsix

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: legend-engine-ide-client-vscode-0.0.1.vsix
          path: artifacts/legend-engine-ide-client-vscode-0.0.1.vsix
          
            