name: Check Code

on:
  push:
    branches:
      - main
      - 'release/**'
  pull_request:
    branches:
      - '**'

# Cancel running jobs from previous pipelines of the same workflow on PR to save resource when commits are pushed quickly
# NOTE: we don't want this behavior on default branch
# See https://stackoverflow.com/a/68422069
concurrency:
  group: ${{ github.ref == 'refs/heads/main' && format('ci-default-branch-{0}-{1}', github.sha, github.workflow) || format('ci-pr-{0}-{1}', github.ref, github.workflow) }}
  cancel-in-progress: true

jobs:
  check-code:
    name: Run Code Checks
    # Disable usage of large runner on default branch of forks
    # NOTE: temporarily disable large runner
    # runs-on: ${{ (github.repository != 'finos/legend-studio' && github.ref == 'refs/heads/main') && 'ubuntu-latest' || 'ubuntu-latest-4-cores' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.0

      - name: Setup Node
        uses: actions/setup-node@v3.8.1
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          yarn install

      - name: Run lint
        run: yarn lint:ci

  check-codebase-maintenance:
    name: Run Codebase Maintenance Checks
    # Disable usage of large runner on default branch of forks
    # NOTE: temporarily disable large runners
    # runs-on: ${{ (github.repository != 'finos/legend-studio' && github.ref == 'refs/heads/main') && 'ubuntu-latest' || 'ubuntu-latest-4-cores' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.0

      - name: Setup Node
        uses: actions/setup-node@v3.8.1
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          yarn install

      - name: Check code formatting
        run: yarn check:format

      - name: Check copyright headers
        run: yarn check:copyright
